<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @innovation.name %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @innovation.caption %>
</p>

<p>
  <strong>Order:</strong>
  <%= @innovation.order %>
</p>

<p>
  <strong>Description:</strong>
  <%= @innovation.description %>
</p>

<%= link_to 'Edit', edit_innovation_path(@innovation) %> |
<%= link_to 'Back', innovations_path %>
